.cabeza {
    padding: 70px 70px;
    background-color: darkblue;
    color: lavender;
    text-align: center;
}

h1 {
    font-size: 45px;
}
h2 {
    font-size: 35px;
}


.navbar {
    background-color: azure;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    
}

.navbar a {
    
    
    
    color: black;
    
    
    
    
    
   
}





.navbar a:hover {
    background-color: black;
    color: white;
    block-size: 33%;
}



* {
    box-sizing: border-box;
}

.columna {
    display: flex;
    flex-wrap: wrap;
}

.secundario {
    flex: 30%;
    background-color: aqua;
    color: black;
    padding: 20px;
    
    
}

h3 {
    
    padding: 10px;
    color: crimson;
    font-size: 30px;
}

img {
    padding: 20px 20px;
    height: 250px;
    width: 250px;    
}


.principal {
    flex: 70%;
    background-color: gray;
    color: black;
    padding: 20px;
}

h4 {
    font-size: 25px;
}